<% if notice %>
  <%= notice %><br><br>
<% end %>

<div class="col-md-6 col-md-offset-3">
  <div class="carousel slide" id="myCarousel">
    <div class="carousel-inner">
      <div class="item active">
        <div class="hover">
          

<div class="col-xs-3"><a href="<%= movie_path(@first_movie) %>"><div class="movie_background"><img src="<%= @first_movie.poster_image %>" class="img-responsive"></div></a><br>
          <div class="behind movie_font">
                <%= link_to @first_movie.name, @first_movie %><br><br>
                See it in theaters on:<br>
                <%= @first_movie.release_date_theater.try(:to_formatted_s, :nice_date) %><br><br>
                See it in DVD on:<br>
                <%= @first_movie.release_date_dvd.try(:to_formatted_s, :nice_date) if !nil? %><br><br>
                <%= link_to "Add this movie", user_movies_path(current_user, :movie_id => @first_movie), :method => :post %>
            </div>
        </div>
      </div>
      </div>
      <% @other_movies.each do |movie| %>
      <div class="item">
        <div class="hover">
        <div class="col-xs-3"><a href="<%= movie_path(movie) %>"><br><div class="movie_background"><img src="<%= movie.poster_image %>"class="img-responsive"></a></div><br>
          <div class="behind movie_font">
            <%= link_to movie.name, movie %><br><br>
              See it in theaters on:<br>
              <%= movie.release_date_theater.try(:to_formatted_s, :nice_date) %><br><br>
              See it in DVD on:<br>
              <%= movie.release_date_dvd.try(:to_formatted_s, :nice_date) if !nil? %><br><br>
              <%= link_to "Add this movie", user_movies_path(current_user, :movie_id => movie), :method => :post %><br>
              </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i>‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i>›</a>
  </div>
</div>
