<% if notice %>
  <%= notice %><br><br>
<% end %>

<% Time::DATE_FORMATS[:nice_date] = "%B %d, %Y"%>

<div class="col-md-6 col-md-offset-3">
  <div class="carousel slide" id="myCarousel">
    <div class="carousel-inner">
      <div class="item active">
        <div class="col-xs-3"><a href="<%= movie_path(@first_movie) %>"><img src="<%= @first_movie.poster_image %>" class="img-responsive"></a><br>
          <%= link_to @first_movie.name, @first_movie %><br>
              See it in theaters on:
              <%= @first_movie.release_date_theater.try(:to_formatted_s, :nice_date) %><br>
              See it in DVD on:
              <%= @first_movie.release_date_dvd.try(:to_formatted_s, :nice_date) if !nil? %><br>
              <%= link_to "Add this movie", user_movies_path(current_user, :movie_id => @first_movie), :method => :post %>
        </div>
      </div>
      <% @other_movies.each do |movie| %>
      <div class="item">
        <div class="col-xs-3"><a href="<%= movie_path(movie) %>"><br><img src="<%= movie.poster_image %>"class="img-responsive"></a><br>
            <%= link_to movie.name, movie %><br>
              See it in theaters on:
              <%= movie.release_date_theater.try(:to_formatted_s, :nice_date) %><br>
              See it in DVD on:
              <%= movie.release_date_dvd.try(:to_formatted_s, :nice_date) if !nil? %><br>
              <%= link_to "Add this movie", user_movies_path(current_user, :movie_id => movie), :method => :post %><br>
        </div>
      </div>
      <% end %>
    </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i>‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i>›</a>
  </div>
</div>
