


<div class="container">

    <div class="row headline"><!-- Begin Headline -->



        <!-- Slider Carousel
        ================================================== -->
        <div class="span12 gallery">
            <div class="flexslider">
              <ul class="slides">
                <% @movies.each do |movie| %>
                <li><a href="<%= movie_path(movie) %>"><img src="<%= movie.poster_image %>" class="thumbnail-movie"></a></li>
                <% end %>
              </ul>
            </div>
        </div>


        <div class="span12 gallery">
            <br>
            <br>
            <h5 class="title-bg">About &nbsp
                <small> Track Your Trailer</small>
                <button class="btn btn-mini hidden-phone" type="button">View Portfolio</button>
            </h5>
        </div>

        <!-- Headline Text
        ================================================== -->
        <div class="span12 gallery">
            <!-- <h3>Track Your Trailer</h3> -->
            <!--<p class="subheadline" align="center">-Find a movie you like.<br>-<em>Track</em> it.<br>-We'll let you know when it's out!</p>-->
            <p>
                <div class="subheadline" style="text-align: center;">

                          <p><br>Welcome to Track Your Trailer!<br><br>
                            Search for upcoming movies you want to see.<br>
                            Add them to your personal list.<br>
                            We’ll send you text and email reminders when they come out.<br>
                            Never worry about missing great movies again.<br><br>
                            We've got your back.<br><br></p>

                          <% if !current_user %>
                            <%= link_to "Sign Up Now >>", new_user_registration_path %><br><br>
                            <% end %>
                </div>
            </p>
        </div>
    </div>

    <div class="row gallery-row"><!-- Begin Gallery Row -->

        <div class="span12 gallery">
            <h5 class="title-bg">Upcoming Movies &nbsp
                <small>For You</small>
                <button class="btn btn-mini hidden-phone" type="button">View Portfolio</button>
            </h5>
            <div class="row clearfix">
                <ul class="gallery-post-grid holder">

                    <!-- Gallery Item 1 -->
                <% @movies.each do |movie| %>
                    <li  class="span4 gallery-item" data-id="id-1" data-type="tag1">
                        <span class="gallery-hover-3col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <% if current_user %>
                                    <%= link_to "", user_movies_path(current_user, :movie_id => movie), :method => :post, class: "item-details-link" %>
                                <% else %>
                                    <%= link_to "", new_user_registration_path, class: "item-details-link" %>
                                <% end %>
                            </span>
                        </span>
                        <a href="<%= movie_path(movie) %>"><img src="<%= movie.poster_image %>" class="thumbnail-movie" alt="Gallery"></a>
                        <span class="project-details"><a href="<%= movie_path(movie) %>"><%= movie.name %></a><br>Theaters: <%= movie.release_date_theater ? movie.release_date_theater.to_formatted_s(:nice_date) : "Check back soon!" %><br>DVD: <%= movie.release_date_dvd ? movie.release_date_dvd.to_formatted_s(:nice_date) : "Check back soon!" %></span>
                    </li>
                <% end %>

                </ul>
            </div>

    </div><!-- End Gallery Row -->








</div>
</div>
</div>

</div> <!-- End Container -->


