<% if notice %>
  <%= notice %><br><br>
<% end %>

<h3><%= @movie.name %></h3><br>
See it in theaters on:
<%= @movie.release_date_theater.to_formatted_s(:nice_date) %><br>
See it on DVD on:
<%= @movie.release_date_dvd.try(:to_formatted_s, :nice_date) if !nil? %><br><br>

<img src="<%= @movie.poster_image %>" class="movie"><br>

<!-- TODO - update the user id in this path -->
<%= link_to "Add this movie", user_movies_path(@current_user, :movie_id => @movie), :method => :post %>