<!-- TODO - update the user id in this path -->





<!-- Page Content
    ================================================== -->
    <div class="row">

        <!-- Gallery Items
        ================================================== -->
        <div class="span12 gallery-single">

            <div class="row">
                <div class="span6">
                    <img src=<%= @movie.poster_image %> class="thumbnail-movie-show" alt="image">
                </div>
                <div class="span6">
                    <h2><%= @movie.name %></h2>

                   <ul class="showpagetext project-info">
                        <li>In Theaters:&nbsp;&nbsp;&nbsp;<%= @movie.release_date_theater ? @movie.release_date_theater.to_formatted_s(:nice_date) : "Check back soon!" %>
                        </h6></li>
                        <li>On DVD:&nbsp;&nbsp;&nbsp;<%= @movie.release_date_dvd ? @movie.release_date_dvd.to_formatted_s(:nice_date) : "Check back soon!" %>
                        </li>
                        <li>More Info:&nbsp;&nbsp; <%= link_to "Rotten Tomatoes", @movie.rotten_tomatoes_link, target: "blank", style: "color: #666; text-decoration:underline;"%>
                        </li>

                        <li>
                            <% if current_user %>
                                <%= link_to "Add This Movie", user_movies_path(current_user, :movie_id => @movie), :method => :post %>
                            <% else %>
                                <%= link_to "Sign Up to Track Movies", new_user_registration_path %>
                            <% end %>
                        </li>
                    </ul>
                </div>
            </div>

        </div><!-- End gallery-single-->

    </div><!-- End container row -->

    </div> <!-- End Container -->