        <!-- Mobile Nav
    ================================================== -->
    <form action="#" id="mobile-nav" class="visible-phone">
        <div class="mobile-nav-select">
        <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
            <option value="">Navigate...</option>
            <option value="<%= root_path %>">Home</option>
                <option value="<%= all_movies_path %>">- All Movies</option>
                <% if current_user %>
                <option value="<%= user_path(current_user) %>">- My Movies</option>
                <option value="<%= edit_user_registration_path %>">- My Info</option>
                <% end %>
            <option value="<%= current_user %>">Logout</option>
        </select>
        </div>
    </form>
