<!DOCTYPE html>
<html>
<head>
  <title>TrackYourTrailer</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body align="center">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<% if current_user %>
 Logged in as:
<%= link_to current_user.name, current_user %> |
<%= link_to "Logout", logout_path %><br><br>
<%= form_tag("/results", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %><br>
  <%= submit_tag("Search") %><br>
<% end %>
<% end %>


<%= yield %>

<br><br><br><br>
<%= link_to "Home", movies_path %><br><br>
<br><br><br><br>

</body>
</html>
