<!DOCTYPE html>
<html>
<head>
  <title>TrackYourTrailer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= "Logged in As: #{User.find_by(:id => session[:user_id]).name}" if session[:user_id] %>
<%= link_to "Logout", logout_path if session[:user_id] %><br><br>

<%= yield %>

<br><br><br><br>
<%= link_to "Movies Index", movies_path %><br><br>
<%= link_to "Users", users_path %>
<br><br><br><br>

</body>
</html>
