<!DOCTYPE html>
<html>
<head>
  <title>TrackYourTrailer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body align="center">
<% if @current_user %>
 Logged in as:
<%= link_to @current_user.name, @current_user %>
<%= link_to "Logout", logout_path %><br><br>
<% end %>
<%= yield %>

<br><br><br><br>
<%= link_to "Movies Index", movies_path %><br><br>
<%= link_to "Users", users_path %>
<br><br><br><br>

</body>
</html>
