<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TrackYourTrailer</title>
  <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
</head>

    <%= render "shared/header" %>

        <% if current_user %>
            <%= render "shared/main_nav" %>
            <%= render "shared/mobile_nav" %>
        <% end %>

            <%= render "shared/search" %>

        </div>

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>

    </div> <!-- End Container -->
</div>
    <!-- Footer Area
        ================================================== -->

    <div class="footer-container"><!-- Begin Footer -->
        <div class="container">
            <div class="row footer-row">
                <div class="span3 footer-col">

            <h4>TRACK YOUR TRAILER</h4>
            <div class="row"><!-- Begin Sub Footer -->
                <div class="span12 footer-col footer-sub">
                    <div class="row no-margin">
                        <div class="span6"><span class="left">© 2013 The Flatiron School. <a href="https://twitter.com/gregeng">Greg Eng</a>, <a href="https://twitter.com/davidhenrybella">David Bella</a>, <a href="https://twitter.com/emilyxxie">Emily Xie</a></span></div>
                        <div class="span6">
                            <span class="right">
                            <%= link_to "Home", root_path %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                            <%= link_to "All Movies", all_movies_path %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                        <% if !current_user.nil? %>
                            <%= link_to "My Movies", current_user %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                            <a href="<%= edit_user_registration_path %>">My Info</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                        <% end %>
                            <%= link_to "Logout", logout_path %>
                            </span>

                        </div>
                    </div>
                </div>
            </div><!-- End Sub Footer -->

        </div>
    </div><!-- End Footer -->

    <!-- Scroll to Top -->
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>

</body>
</html>
